{% extends 'base.html' %}
{% block content %}

<section class="page-section">
    <div style="text-align:left; width:48%" class="container">
        <h2>Mypage<br></h2>
        {% if id == "admin" %}
        <p style="color:blue;">[ 관리자 ]</p>
        {% elif first_name and last_name %}
        <p>이름 : {{ last_name }}{{ first_name }}</p>
        {% endif %}
        <p>아이디 : {{ id }}</p>
        <p>이메일 : {{ email }}</p>

        <div class="btn-area">
            <button type="submit">변경하기</button>
        </div>
        </form>
    </div>
</section>


<style>

.page-section {
  padding: 11.4rem 0;
}
.page-section h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
}
.btn-area {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btn-area button {
  width: 100%;
  height: 50px;
  margin: 0px 10px;
  color: #212529;
  background: #ffc800;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

p{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:50px;
}

</style>
{% endblock %}