{% extends 'base.html' %}
{% block content %}

<mypagebody>
    <div style="text-align:left; width:48%" class="container">
        <h2 style="text-align: center; margin-bottom:30px;">Mypage<br></h2>

        <form method="post">
          {% csrf_token %}
          {{ form.as_p }} <!--뷰(view)로부터 전달받을 파라미터를 <p>태그로 감싸서 랜더링-->

          <div class="btn-area">
            <button type="submit">변경하기</button>
        </div>
        </form>
    </div>
</mypagebody>


<style>

mypagebody {
  color:#212529;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

p{
    color:red;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
}

.btn-area {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-top: 30px;
}

.btn-area button {
  width: 100%;
  height: 50px;
  margin: 0px 10px;
  color: #212529;
  background: #ffc800;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.btn-area smallButton {
  width: 100%;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  color: #212529;
  background: #ffc800;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}


</style>
{% endblock %}