<!-- Footer-->
{% load static %}
<footer style="height:120px; width:100%;" class="footer py-4 bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start text-white">Copyright &copy; Happy Bank 2023</div>
            <div class="col-lg-4 text-lg-center">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Youtube"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end text-white">고객센터 : 02-1234-5678<br>이메일 : iamyj@happy.com<br>오시는 길 : 서울특별시 00구 00빌딩
            </div>
        </div>
    </div>
</footer>